#### EMBER IGNORE
/ember/dist
/ember/tmp
/ember/node_modules
/ember/bower_components
/ember/.sass-cache
/ember/connect.lock
/ember/coverage/*
/ember/libpeerconnection.log
/ember/npm-debug.log
/ember/testem.log

#### RAILS IGNORE
/rails/.bundle
/rails/db/*.sqlite3
/rails/db/*.sqlite3-journal
/rails/log/*
/rails/!/log/.keep
/rails/tmp
/rails/coverage/*
/rails/config.json
rails/db/test.sqlite3
/rails/vendor/assets/components
/rails/config/application.yml
