<h1 class='center'>Globe Authentication</h1>

<div class='row'>
  <div class='col-md-6'>
    <div class="panel panel-default">
      <div class="panel-heading">Registration</div>
      <div class="panel-body">
        <p>{{ link-to 'Register as a student' 'register-student' }}</p>
        <p>{{ link-to 'Register as a teacher' 'register-teacher' }}</p>
      </div>
    </div>
  </div>

  <div class='col-md-6'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Login</h3>
      </div>
      <div class="panel-body">
        <p>"Login", new_user_session_path</p>
      </div>
    </div>
  </div>
</div>
