<h1 class='center'>Welcome to Globe!</h1>
<h3 class='center'>An awesome LMS.</h3>

<hr>

<% if teacher_signed_in? %>
  <h1 class='center'> <%= link_to 'My Courses', courses_path %> </h1>
<% else %>
  <h1 class='center'> <%= link_to 'Register or Sign In', auth_path %> </h1>
<% end %>
