<h1>Welcome to Globe!</h1>

<h3>An awesome LMS.</h3>

<p> <%= link_to "Register as a student", new_student_registration_path %> </p>
<p> <%= link_to "Register as a teacher", new_teacher_registration_path %> </p>
