<!-- Modal -->
<div class="modal fade" id="assignmentPromptModal" tabindex="-1" role="dialog" aria-labelledby="assignmentPromptModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div id="assignmentPromptModalCountdown">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Assessment begins in...</h4>
        </div>
        <div class="modal-body">
          <h1 class="center" id="assignmentPromptModalCountdownText">3</h1>
        </div>
      </div>

      <div id="assignmentPromptModalText">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"> <%= @assignment.assignment.name %> </h4>
        </div>
        <div class="modal-body">
          <%= sanitize(@assignment.assignment.description) %>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
